body {
  background-image: url('./img/clouds-hd-wallpaper.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron .lead {
  text-align: center;
}

.jumbotron img {
  max-height: 200px;
  border-radius: 50%;
  margin: 0px;
}

#portfolio .card {
  margin-top: 5%;
  width: 45%;
}

.card-column {
  margin-top: 5%;
}

#lostffound, #djinn {
  border-radius: 4rem;
}

#lostffound .card-image {
  background-image: url('./img/lost&ffound.jpg');
}

#djinn .card-image {
  background-image: url('./img/djinn.jpg');
}

#lostffound .card-image, #djinn .card-image {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4rem;
  height: 10rem;
}

#lostffound-description {
  visibility: hidden;
}

#djinn-description {
  visibility: hidden;
}

.card-link {
  text-decoration: none;
  color: #000;
}

#lostffound:click, #djinn:click {
  border-radius: 0rem;
  transition: all .25s ease-in;
}

#lostffound .card-image:click, #djinn .card-image:click {
  border-radius: 0rem;
  transition: .25s;
}

#contact {
  width: 100%;
  margin: 7% 0%;
}

#email {
  font-weight: bold;
}